/dev/DspBridge            0666   audio      graphics
/dev/logger               0660   root       radio
# Motorola CedarPoint Baseband Logger
/dev/bus/usb/002/123      0660   root       radio
/dev/dri/card0            0666   root       root
/dev/dri/card1            0666   root       root
/dev/dri/card2            0666   root       root

# these should not be world writable
/dev/ttyGS0               0660   root       system
/dev/ttyGS1               0660   radio      radio
/dev/ttyGS2               0660   radio      radio
/dev/ttyGS3               0660   radio      radio
/dev/ttyHS0               0660   system     system
/dev/ttyO1                0660   bluetooth  bluetooth
/dev/hidraw*              0660   root       system
/dev/snd/*                0664   system     audio
/dev/akm8973              0660   compass    compass
/dev/akm8973_dev          0660   compass    compass
/dev/akm8973_aot          0660   compass    compass

# CDMA radio interface MUX
/dev/ts0710mux*           0660   radio      radio
/dev/ttyHS4/*             0640   radio      radio

/dev/sim_proxy            0660   root       radio
/dev/psd_nsapi5           0660   root       radio
/dev/psd_nsapi6           0660   root       radio
/dev/psd_nsapi7           0660   root       radio
/dev/psd_nsapi8           0660   root       radio
/dev/psd_nsapi9           0660   root       radio
/dev/psd_nsapi10          0660   root       radio
/dev/sim                  0660   root       radio
/dev/audio                0660   root       audio
/dev/gps                  0770   root       radio
/dev/gps_reset            0660   root       radio
/dev/gps_standby          0660   root       radio
/dev/gps_interrupt        0660   root       radio
/dev/subsidy_lock         0660   root       radio
/dev/test_cmd             0660   root       radio
/dev/nvm_proxy            0660   root       radio
/dev/dlog_ctrl            0770   radio      radio
/dev/efem                 0770   radio      radio
/dev/opprof               0660   root       radio
/dev/csd_tty0             0600   root       root
/dev/uma_urlc             0660   root       radio
/dev/uma_urr              0777   root       root
/dev/udi_data             0600   root       root
/dev/udi_ctrl             0600   root       root
/dev/dspbridge            0666   audio      graphics
/dev/hp3a-omap            0770   media      camera
/dev/mipi_dli_tester      0660   media      camera
/dev/video0               0770   media      camera
/dev/video1               0770   media      graphics
/dev/video2               0770   system     graphics
/dev/video3               0777   media      camera
/dev/hdcp                 0660   media      graphics
/dev/smodule              0777   root       root
/dev/ttyACM0              0770   radio      radio
/dev/syspanic             0770   radio      radio
/dev/mdtv/                0777   root       root
/dev/mdtv/mdtvctrl        0777   root       root
/dev/mdtv/mdtv1           0777   root       root
/dev/mdtv/mdtv2           0777   root       root
/dev/mdtv/mdtv3           0777   root       root
/dev/mdtv/mdtv4           0777   root       root
/dev/mdtv/mdtv5           0777   root       root
/dev/mdtv/mdtv6           0777   root       root
/dev/mdtv/mdtv7           0777   root       root
/dev/mdtv/mdtv8           0777   root       root
/dev/mdtv/mdtv9           0777   root       root
/dev/mdtv/mdtv10          0777   root       root
/dev/mdtv/mdtv11          0777   root       root
/dev/mdtv/mdtv12          0777   root       root
/dev/mdtv/mdtv13          0777   root       root
/dev/mdtv/mdtv14          0777   root       root
/dev/mdtv/mdtv15          0777   root       root
/dev/mdtv/mdtv16          0777   root       root
/dev/tda19989             0660   root       system
/dev/dispsw               0660   root       system
/dev/omap-panel           0660   media      system
/dev/omap-dssmgr          0660   media      system
/dev/wakeup_timer         0660   root       radio
/dev/modem_pm_driver      0660   root       radio
/dev/power                0660   root       radio
/dev/cpcap                0660   root       system
/dev/cpcap_batt           0660   root       system
/dev/cpcap_uc             0660   root       system
/dev/sec                  0660   root       system
/dev/tf_driver            0660   system     system
/dev/tf_ctrl              0660   system     system
/dev/camera0              0777   root       root
/dev/mtd/mtd1             0660   root       system
/dev/mtd/mtd2             0660   root       system
/dev/i2c-0                0660   root       system
/dev/i2c-1                0660   root       system
/dev/i2c-2                0660   root       system
/dev/i2c-3                0660   system     camera
/dev/i2c-4                0660   root       system
/dev/pvrsrvkm             0666   system     graphics
/dev/bd7885               0770   media      camera
/dev/cpcap_mot_rtc        0660   root       system
/dev/netmon               0660   root       radio
/dev/block/mmcblk0p1      0660   root       system
/dev/block/misc           0660   root       system
/dev/block/mmcblk1p1      0660   root       system
/dev/block/mmcblk1p19     0660   root       system
/dev/block/mmcblk0p6      0660   root       system
/dev/block/mmcblk0p7      0660   root       system
# sensor interface
/dev/lis331dlh            0660   compass    compass
/dev/lis3dh               0660   compass    compass
/dev/kxtf9                0660   compass    compass
/dev/sfh7743              0660   compass    compass
/dev/akm8975_dev          0660   compass    compass
/dev/akm8975_aot          0660   compass    compass
/dev/isl29030             0660   compass    compass
/dev/ct405                0660   compass    compass
/dev/l3g4200d             0660   compass    compass
/dev/msp430               0660   compass    compass
/dev/airc                 0660   compass    compass
/dev/ttyS0                0640   radio      radio
/dev/ttyO0                0660   radio      radio
# bluetooth uart
/dev/ttyS1                0660   bluetooth  bluetooth
/dev/ttyO3                0660   bluetooth  bluetooth
/dev/ttyUSB0              0660   radio      system
/dev/ttyUSB1              0660   radio      radio
/dev/ttyUSB2              0660   radio      radio
/dev/ttyUSB3              0660   radio      radio
/dev/ttyUSB4              0660   radio      system
/dev/ttyUSB5              0660   radio      system
/dev/ttyUSB6              0660   radio      system
/dev/tcmd_driver          0660   root       system
/dev/ttySPI0              0660   radio      system
/dev/ttyHS3               0660   root       radio
# mot qmi interfaces
/dev/qcqmi0              0660   radio      radio
/dev/qcqmi1              0660   radio      radio
/dev/qcqmi2              0660   radio      radio
/dev/qcqmi3              0660   radio      radio
# power management testing
/dev/pm_dbg               0666   system     system
# bluetooth dun
/dev/rfcomm0              0600   system     system
/dev/tigps                0660   root       radio
/dev/tifm                 0660   bluetooth  bluetooth
# fuse
/dev/fuse                 0660   system     system
/dev/pn544                0600   nfc        nfc
